body {
  background-color: whitesmoke;
}
h1 {
 color: blue;
 position:absolute;
 left: 1200px;
 top: 80px;
 
 
}


h2{
  color: goldenrod;
  text-align: center;
  border-style: solid;
  border-width: 5px;
}

h3{
  color:blue;
  position: absolute;
  top: 590px;
  left: 800px;
  height: 20px;
  padding: 150px;
}

mark {
  position: absolute;
  left: 700px;
  background-color: whitesmoke;
  font-size: large;
  font-weight: 700;
  
}


div.zz {
  position: absolute;
  top: 410px;
  left: 1100px;
}

div.h{
  position: absolute;
  top: 800px;
  left: 1000px;
}
.strong {
 position:absolute;
 top: 150px;
 text-indent: 150px;
 right: 600px;
}
 



.a {
  top: 1500px;
  left: 200px;
}


.trt {
  position:absolute;
  color: blue;
  right: 40%;
  top: 50%;
}

.hut {
  position: absolute;
  color: blue;
  top: 700px;
  left: 10px;
}


q {
  color: goldenrod;
  padding: 1px;
  top: 500px;
  left: 20px;
  text-decoration:underline;
  border-style: solid;
  border-width: 20px;
  border-color: goldenrod;
  margin: 10px;
}

.c {
  position:absolute;
  top: 155px;
  left: 100px;
}

.zxc {
  position:absolute;
  color: blue;
  font-size: xx-large;
  top:100px;
  left: 1200px;
}
 .pt {
  position:absolute;
  color:blue;
  top: 300px;
  right: 100px;
  font-size: 60px;
 }

 .n {
  position:absolute;
  top: 500px;
  right: 75px;
 }

p {
  position:absolute;
  color: blue;
  top: 100px;
  left: 500px;
  margin: 100px;
  font-size: x-large;
}

ul {
  position: absolute;
  left: 1100px;
  top: 600px;
  font-size: larger;
  font-style: oblique;
}

.d {
  position: absolute;
  top: 170px;
  right: 25px;
}

.e {
  position: absolute;
  top: 800px;
}

.f {
  position: absolute;
  top: 800px;
  right: 50px;
}

.g {
  position:absolute;
  top: 800px;
  right:  850px;
}

header {
  position: absolute;
  left: 1000px;
  color: blue;
  font-size: xx-large;
  
}

ol {
  position: absolute;
  top: 350px;
  left: 300px;
  font-size: x-large;  
}

#w {
position:absolute;
top: 550px;
left: 200px;
}

h5 {
  position: absolute;
border: goldenrod;
border-width: medium;
left: 2000px;
font-size: large;
color:blue;
font-size:large;
top: 850px;
left: 800px;
}

h6 {
  position: absolute;
  top: 1100px;
  left: 800px;
  font-size: large;
  color: blue;
}


strong {
  position: absolute;
  top: 350px;
  right: 800px;
  font-size: large;
  color: blue;
}

#t {
  position:absolute;
top: 550px;
right: 400px;
}

#v {
  position:absolute;
top: 950px;
right: 400px;
}

footer {

left: 100px;
color: goldenrod;
  text-align: center;
  border-style: solid;
  border-width: 50px;
}

form {
  position: absolute;
  top: 300px;
  left: 200px;
}

#i {

  position: absolute;
  top: 950px;
  left: 200px;
}
  
#o {
  position:absolute;
  top: 200px;
  right: 1150px;
}

h1 {
  position: absolute;
  top: 150px;
  left:400px;
  border-color:goldenrod;
  border-style: solid ;
  border-width: large;
  
  
}

#r {
  position:absolute;
  top: 400px;
  right: 400px;
}

h4 {
  position: absolute;
  color: blue;
  top: 300px;
  font-size: x-large;
  left: 1735px;
  
}

.uu {
  position: absolute;
  top: 75px;
  color: blue;
  font-size: xx-large;
  
}

#fv {
  position:absolute;
  top: 700px;
  left: 250px;
}

.qp {
  position: absolute;
  color: blue;
  top: 700px;
  left: 1150px;
  font-size: xx-large;
}

/*
h1 {
 
  color: red;
  text-align: center;
  width
}
h2{
  text-align: center;
  border-style: solid;
  color:blueviolet;
  border-color: blue;
}

<h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  background: black;
  }


p {
  border-style: solid;
  border-width: 10px;
  color: black;
}
body {
  background-color:rgb(255, 213, 122);
}




.Baseball {
  color: black;
  font-size: 24px;
  text-align: left;
}

p {
  color: white;
  font-size: 24px;
  text-align: left;
}

#baseball {
  Margin-top: 40px;
  margin-bottom:50px;
  margin-right: 30px;
  margin-left: 30px;

  
  }


div:hover {
  background-color: transparent;

}

a:hover {
  color: red;
}



<h1 class="Baseball"> Front Page</h1>
<h2 class="Basketball2"> Title</h2>
.basketball {
  background: white;
}
.basketball2 {
  color:blue;
}




section a {
  color:black:
}
.Baseball a {
  color: red;
}
section> a{
  color:aquamarine;
}
.Baseball> a {
  color: brown;
}

#heading p {
  color: red;
}


<section class="sports">
<p> Learn about sports</p>
<a href="Sports">https://www.espn.com/</a>
<div>
<a href="#More sports">https://www.foxsports.com/</a>
</div>
</section>

.img src {
  style="width:300px;height:300px;">
  
}
h5 {
  margin-top: 50px;
  margin-bottom: 40px;
  margin-right: 200px;
  margin-left: 0px;
}



#soccer p {
  color:lavender;
  background-color:gold;
}

div {
  font-style: initial;
background-color: lightcoral;
width: 85px;
border: 20px solid blue;
padding: 165px;
margin: 15px;
}


@keyframes example {
  100%  {background-color:transparent; left:0px; top:0px;}
  50%  {background-color:transparent; left:200px; top:0px;}
  50%  {background-color:transparent; left:200px; top:200px;}
  50%  {background-color:transparent; left:0px; top:200px;}
  100% {background-color:transparent; left:10px; top:10px;}
}

body {
  color: hotpink;
  position: sticky;         
  background: aqua;
  height: 500px;
  width: 500px;       
}

.body {
  background: red;
  height: 100px;
  width: 100px; 
  position: static;   
}

.h3 {

  position: absolute;
  height: 300px;
  width: 200px;
}





a.pseudo:active{
    color: green;
}
div.position{
    position: absolute;
    left: 500px;
    right: 400px;
    top: 800px;
}

nav.sticky {
    position: sticky;
    top: 0;
    padding: 3px;

}
.box {
    background-color: lightgrey;
    width: 400px;
    border: 20px solid yellowgreen;
    padding: 5px;
    margin: 50px;
}

p {
    background-color: yellowgreen;
    color: whitesmoke;
    margin: 4px 100px 40px 50px;


    

body {
    font-family: Arial, Helvetica, sans-serif;
}

a.pseudo:visited{
    color: yellow;
}

a.pseudo:hover{
    color: red;




/*
div {
    background: red;
}

span {
    background: yellow;
    
    display: inline-block;

}













































body {
    background: lightblue;
    font-size: 24px;
  }
  
  .container a {
    color: red;
  }
  
  .container > a {
    color: green;
  }
  
  p {
    font-size: 42px;
  }
  
  p {
  font-size : 24px;
  
  }
  
  p {
    font-size: 42px!important;
  }
  
  h4 {
    color: yellowgreen;
  }
  
  .green {
    color: green;
  }
  #blue{
    color:blue;















































